body {
    background-color: grey;
}

.content {
    width: 400px;
    background-color: aqua;
    margin: 0, auto;
    padding: 30px;
    max-height: 200px;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

.content.open {
    background-color: burlywood;
    max-height: 1000px;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#show-more {
    background: #6495ed;
    color: rgb(236, 223, 42);
    display: block;
    width: 100px;
}